# Makes the project maintainer the default reviewer for repository changes.
* @supax0

# Calls special attention to compiler implementation changes.
/compiler/ @supax0

# Calls special attention to bootstrap/foundation changes.
/bootstrap/ @supax0

# Calls special attention to GitHub automation and repository policy changes.
/.github/ @supax0
